page-basium_service {
    .navar_top {
        left: 21px; position: absolute; width: 100%; z-index: 1001;
        justify-content: center; align-items: center; 
        padding-top: 10px; padding-bottom: 10px;
        background: #f7f7f7; margin-left: -21px; margin-right: -21px;
        .close_icon {
            position: absolute; 
            padding: 8px 15px 8px 15px;
            left: 0px;
        }
        .title_label {
            font-weight: 500;
        }
    }
    .scroll-content {
        margin-top: 35px;
    }
    .page-content {
        .basium_logo {
            margin-top: 20px;
            display: flex; align-items: center; justify-content: center;
        }
        .title_bar {
            font-size: 16px; font-weight: 600; margin-top: 20px; margin-bottom: 20px;
        }
        ion-row:last-child {
            margin-bottom: 30px;
        }
        .scroll-content {
            padding-left: 12px;
            padding-right: 12px;    
        }
    }
}